{% extends "base.html.twig" %}

{% block body %}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Vos locations ({{factures|length}})<br />
    </p>
  </div>
</section>
<div class="container mt-5">
    {% if factures|length > 0 %}<a id="facture" href="{{path('factureTotale')}}"><span class="tag is-light">Accéder à la facture globale</span></a><br /><br />{% else %}Aucune facture trouvée.<br /><br />{% endif %}
    <div class="columns is-multiline">
		{% for facture in factures %}
			<div class="column is-one-quarter">
				<div class="card">
                    <div class="card-image">
						<figure class="image is-4by2">
							<img src="{{ vehicules[facture.idVehic].image }}" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<a href="{{ path('facture', {'idFacture': facture.id }) }}" class="button is-info is-light" style="float: right">
                                    <i class="fas fa-file-invoice"></i>
                                </a>
								<p class="title is-4">{{ vehicules[facture.idVehic].modele }}</p>
								<p class="subtitle is-6">{{vehicules[facture.idVehic].carac['marque']}}</p>
							</div>
						</div>

						<div class="content">
							<span><i style="width: 24px" class="fas fa-cogs"></i> Boite de vitesse: <code>{{vehicules[facture.idVehic].carac['boite']}}</code></span><br />
							<span><i style="width: 24px" class="fas fa-car-side"></i> Moteur: <code>{{vehicules[facture.idVehic].carac['moteur']}}</code></span><br />
							<span><i style="width: 24px" class="fas fa-user"></i> Places: <code>{{vehicules[facture.idVehic].carac['nbPlaces']}}</code></span><br />
							<span><i style="width: 24px" class="fas fa-door-open"></i> Portes: <code>{{vehicules[facture.idVehic].carac['nbPortes']}}</code></span><br />
                            <hr>
                            <i style="width: 24px" class="fas fa-calendar"></i> Date de début: <code>{{facture.dateD|date('d/m/Y')}}</code><br />
                            <i style="width: 24px" class="fa fa-calendar"></i> Date de fin: <code>{{facture.dateF|date('d/m/Y')}}</code><br />

							<div style="display: block;" class="mb-3 mt-3">
								<blockquote style="padding: 0.75em 1em">Montant de la location<br />
								<span style="font-size: 26px">{{facture.montant}}€</span></blockquote>
							</div>

                            {% if facture.payee == true %}<span class="tag is-success">Payée</span>{% else %}<span class="tag is-danger">Impayée</span>{% endif %}<br /><br />

							{% if facture.payee == false %}
								<a href="{{ path('annulerLocation', {'id': facture.id }) }}" class="button is-danger">
									Annuler
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
    </div>
</div>
{% endblock %}